body{
  background: linear-gradient(
    to bottom,
    #ADD8E6 0px,
    #ADD8E6 110px,
    #ffffff 115px,
    #ffffff 100%
    );
}

h1, h2, h3, h4, h5{
  font-family: 'Oswald', sans-serif;
}

p{
  font-size: 20px;
  font-family: 'Harmattan', sans-serif;
}

hr{
  border: 2px #000;
}

.header{
  margin: 50px auto;
}
.header h1{
  border: 2px #000 solid;
  padding: 15px;
  font-size: 40px;
}

.content h3{
  border: 2px #000 solid;
  padding: 10px;
}

.content h5{
  padding-left: 2px;
}
