/*Man, the Bootstrap team should really have fixed this in v3*/

@media print {
  .header{
    width: 100%;
  }
  ul{
    line-height: 1.05em;
    font-size: 14px;
  }
  p{
    font-size: 14px;
    font-family: 'Harmattan', sans-serif;
  }

  .col-md-10{
    width: 80%;
    float: right;
  }
  .col-md-9{
    width: 70%;
    float: right;
  }
  .col-md-3{
    width: 30%;
    float: left;
    padding-left: none;
  }
  .col-md-2{
    width: 20%;
    float: left;
  }

  a[href]::after {
      content: none !important;
  }

}
